<% @stores.each do |store| %>
  <div class="result">
    Name: <%= store.name  %>
    Type: <%= store.type %>
    Distance: <%= store.distance %>
    Phone: <%= store.phone %>
  </div>
<% end %>

<%= will_paginate @stores %>
