<div class="container">
  <div class="search row">
    <%=form_tag("/search", method: :get) do%>
      <%= hidden_field_tag "radius", '25' %>
      <%= text_field_tag (:zip) %>
      <%= label_tag "search", "Find Stores Nearby" %>
      <%= submit_tag "Search", class: 'btn btn-primary' %>
    <%end%>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @items.count %> Items</h1>
    </div>
  </div>
  <div class="row"></div>
  <% @items.each do |item| %>
    <div class="col-sm-3">
      <h5><%= item.name %></h5>
      <%= link_to(image_tag(item.image_url), item_path(item)) %>
      <p>
        <%= item.description %>
      </p>
    </div>
  <% end %>
</div>

